{% extends 'base.html.twig' %}

{% block title %}
	<h1>Accueil CFW</h1>
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center acceuil">
		<div>
			<h1 class='animate_buttom'>
				<a href="{{path('dossiert')}}">Dossier T</a>
			</h1>
			<h1 class='animate_buttom'>
				<a href="{{path('appro_index')}}">Appro matiere</a>
			</h1>
		</div>
	</div>
{% endblock %}
