{% extends 'base.html.twig' %}

{% block title %}
	<h1>Accueil</h1>
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center accueil ombre">
		<div>
			<h2 class='animate_buttom'>
				<a href="{{path('dossiert')}}">Dossier Mécanique</a>
			</h2>
			<h2 class='animate_buttom'>
				<a href="{{path('fraisage')}}">Prog Mécanique</a>
			</h2>
			{% if app.user %}
				<h2	class='animate_buttom'>
				<a href="{{path('appro_index')}}">
				{% else %}
				<h2><a disable>
			{% endif %}
				Appro matière
				</a></h2>		
		</div>
	</div>
{% endblock %}
