<h3> Demande de prix</h3>

<p>Bonjour {{ nom }}</p>

<p> Pourriez-vous me faire parvenir votre meilleur offre de prix pour {% if debits|length > 1  %} les debits suivants {% else %} le debit suivant {% endif %}:<p>
<ul>
{% for debit in debits %}
    <li> {{debit.matiere}} </li>
{% endfor %}
</ul>

<p> Cordialement </p>

<h3>CFW</h3>
<p>fdjkfsdkjhfksjd</p>